* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #333;
    background-color: #f9f7f4;

}

h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

.top {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #656d4a;
    color: white;
    padding: 20px 0;
}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 50px;
    font-family: Helvetica, sans-serif;
}



section {
    background-color: #EDE0D4;
    padding: 15px;
    margin: 20px auto;
    border: 1px solid #A68A64;
    max-width: 900px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #3f452a;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    border: 1px solid #656D4A;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background-color: #656D4A;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}



a {
    color: #656D4A;
}

footer {
    background-color: #656d4a;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}
