body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    color: #7f5539;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #656d4a;
    padding: 15px;
}

.headerbox {
    width: 900px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    float: left;
}

nav {
    float: right;
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 10px;
}





.banner img {
    width: 100%;
}

.welcome {
    background-color: white;
    padding: 40px;
    text-align: center;
}

.welcome h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.contentbox {
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    width: 900px;
}

.contentbox img {
    width: 400px;
    float: right;
    margin-left: 20px;
}

.contentbox h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.contentbox p {
    margin-bottom: 10px;
}

.contentbox ul {
    margin-left: 20px;
}

.clear {
    clear: both;
}

footer {
    background-color: #656d4a;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

footer p {
    margin: 5px;
}
